body {
    width: 900px;
    background: black;
    margin-left: auto;
    margin-right: auto;
}
.box {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background: black;
    padding-top: 200px;
}
a {
    text-decoration:none;
}
h1 {
    /* font-size: 200%; */
    text-align: center;
    color: red;
    background: black;
    padding: 40px;
    margin: 40px auto 40px auto;
    text-decoration: none;
}
h1::first-letter{
    font-size: 150%;
}
a>h1:hover {
    /* text-align: center; */
    color: orange;
    /* margin-right: auto; */
    background: rgb(0, 41, 2);
    
}
