body {
    width: 600px;
    background: black;
    margin-left: auto;
    margin-right: auto;
}
.box {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background: black;
}
h1, h2 {
    display: inline-block;
    font-size: 300%;
    text-align: center;
    color: red;
    background: black;
    padding: 40px;
    margin: 40px auto 40px auto;
}
a:hover {
    font-size: 150%;
    text-align: center;
    margin-left: -30%;
    /* margin-right: auto; */
}